html,
body {
  font-family: "Lato", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
}
:root {
  --mainBlack: #222;
  --lightShadow: 2px 5px 3px 0px (0, 0, 0, 0.5);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --mainWhite: black;
  --darkGrey: #cfcfcf;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainBlack);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainWhite);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--darkGrey);
}
.show-nav {
  height: 50px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

.create-story-form {
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  width: 100vw;
  height: 5rem;
  display: flex;
  height: 120px;
  justify-content: space-between;
}

.buttons-nav {
  margin-top: 3rem;
  margin-right: 3rem;
}

.nav-heading {
  color: white;
  position: relative;
  left: 2rem;
  font-size: 3rem;
}

.story-page {
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: center;
}


.date-location-div p {
  margin-right: 2rem;
}

.story-heading {
  text-align: center;
}

.edit-delete-div {
  margin-left: 72vw;
}

.date-of-trip {
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.story {
  width: 70%;
  margin: 0 auto;
  margin-top: 8rem;
  text-align: center;
}
  
.grid-main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  background-color: black;
  padding-bottom: 50px;
  }
/* Forms */

.edit-form input{
  margin-bottom: 2rem;
}

.team-h2 {
  margin: 3rem 0;
  font-size: 2.5rem;
}

Form {
  font-size: 2rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color:red;
  font-size: 1rem;
}

.grid-component-div{
  color: transparent;
  width: 24.945vw;
  height: 30vh;
  text-align: center;
  background-position: 50% 50% !important;
  background-size: cover !important;
  font-size: 1.4rem;
  filter: brightness(0.80);
  font-weight: 600;
  border: 0.5px solid black;
}

.grid-component-div:hover{
  color: black;
 filter: brightness(1.2);
}

.text-and-button-component {
  padding: 5rem 0;
}

.location-p {
  margin-bottom: 25px;
}

.title-p {
  font-size: 2rem;
}

/*SPINNER*/

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*FORMIK*/

.all-fields {
  margin-bottom: 2rem;
}

.submissionfield {

  width: 160px;
  padding: 5px;
  padding-bottom: 250px;
  margin-bottom: 2rem;
}

.date-field {
  width: 170px;
  margin-bottom: 2rem;
}